/*applies to all*/
body{background-color:black;}
body{color:white;}
a{color:red;}
#heading{text-align:center;} /*switch from id heading to make them id "header" I think it may just be easier if it is the standard*/
#copyright{text-align:center;}
.centered{text-align:center;}

/*multiple pages (it applies to)*/
.embeded-form{
display:block;
margin-left:auto;
margin-right:auto;
}

/*index (it applies to)*/
#headshot{
display:block;
margin-left:auto;
margin-right:auto;
}
/* recordings */
#listen_header{text-align:center;}

/*works writtens(it applies to)*/
table{width:100%;}
table, th, td{
border:1px solid white;
border-collapse:collapse;
}


/*note I have not yet added Graphics gallery to this*/